.card-list-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 50px;
}
.li-text {
  padding-top: 3px;
}
.cross {
  background-color: antiquewhite;

  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  max-width: 25px;
  padding: 3px;
  max-height: 25px;
}
li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  list-style-type: none;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}
input {
  width: 200px;
  height: 30px;
  font-size: 16px;
}
