.card-list-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 50px;
}
.li-text {
  padding-top: 3px;
  background-color: #fff;
}
ul{
  background-color: #fff;
}
.cross {
  background-color: #fff;
  margin-top: 10px;
  margin-right: 5px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  max-width: 25px;
  padding: 3px;
  max-height: 25px;
}
li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  list-style-type: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
input {
  margin: 10px 0 10px 10px;
  padding: 16px;
  width: 200px;
  height: 40px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}
